
.form {
border : 1px solid rgb(208,208,208);
margin:auto;
margin-top:2rem;
text-align:center;
}

.form-size {
    width:40%;
 }

.form-group {
margin:10px;
text-align:center;
justify-content:center;
border:none;
margin-top:30px;
margin-bottom:30px;
 }

.btn {
margin:10px;
}

.remember {
    margin-left:8px;
 }

 .transfer {
    background-color:rgb(245,245,245);
    text-align:center;
    vertical-align:center;
    height:100px;
 }

.btn-transfer {
    margin:20px;
    position:relative;
    top:20px;
}

.btn-connect {
    float :right;
}

.send-connect {
    margin:20px;
}

.img-white {
    background-color: white !important;
}

.w-80 {
    width: 80% !important;
    margin:auto;
    }

.margin {
    margin-top:20px !important;
}