
body {
    font-family:
}

.main-title {
    color:white;
    text-align:center;
}

.navbar-custom {
    background-color: rgb(66, 66, 66);
}

.gray {
    color:rgb(102,102,102)!;
}

.green-gradient {
    background:linear-gradient(to right, rgb(98,185,90),rgb(138,195,74));
}

.green{
    background:linear-gradient(to right, rgb(92, 184, 92),rgb(92, 184, 92));
}

.blue {
    background:linear-gradient(to right, rgb(2, 117, 216),rgb(2, 117, 216));
    color:white;
}

.green-thead {
    background-color:rgb(92, 184, 92);
    color:white;
    font-weight:lighter;
    text-align:center;
}

.thbody {
    text-align:center;
}

.title {
    margin-right:48%;
}

.welcome {
    margin:auto;
    margin-top:20px;
    padding-top:100px;
    height:400px;
    width:1000px;
    text-align:center;
    color:white;
    font-size:large;
}

.slogan {
    color:white;
}