<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="/static/css/main.css"/>
    <link rel="stylesheet" href="/static/css/account-profile.css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="/static/js/profile.js"></script>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</head>
<body>

<div th:insert="fragment/header :: header">...</div>

<div th:insert="fragment/menu :: menu">...</div>

<section class="section-item">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/index">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Profile</li>
            </ol>
        </nav>
    </div>
</section>


<section>

    <div class="container">
        <div class="mt-5 mb-2">Credit your account</div>
<!--        <div class="transfer">-->

            <form action="#" th:action="@{/account/credit}" th:object="${account}" method="post"
                  class="form-horizontal">
                <div class="row  profile-row justify-content-center align-items-center">

                <div class="col-4">
                    <label for="count"></label>
                        <input class="btn-credit" type="number" th:field="*{count}" id="count" placeholder="0€" required min=1>
                 </div>
                <div class="col-4 ">
                        <input class="green btn btn-credit mt-4" type="button" value="Credit" data-bs-toggle="modal"
                               data-bs-target="#connectModal">
                </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="connectModal" tabindex="-1" aria-labelledby="connectModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Confirm transaction</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>

                            <div class="modal-footer">
                                <button type="submit" class="green btn">Credit</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="error text-info" th:text="${errorMessage!=null?errorMessage:null}"></div>
            </form>
<!--        </div>-->
    </div>
</section>

<section>
<div class="container">
    <div class="row mt-5 mb-0"><p>Check your profile information</p></div>
        <table class="table table-striped">
            <thead class="thead">
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Account</th>
            </tr>
            </thead>
            <tbody class="thbody">
            <tr>
                <td th:text="${debtorAccount.firstName}"></td>
                <td th:text="${debtorAccount.lastName}"></td>
                <td th:text="${debtorAccount.count}"></td>
            </tr>
            </tbody>
        </table>
</div>
</section>

</body>
</html>